---
import { Picture } from 'astro:assets';
import img from '~/assets/space-station-161807.svg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="space station" loading="eager" />
		<div>
			<h1>Hello there! I am Weilv👋</h1>
			<p>
                我是Weilv，这是我的个人博客。在这里，我分享关于编程、技术和生活的点滴。无论你是想了解最新的技术趋势，还是寻找编程技巧，这里都有你需要的内容。以下是一些你可以期待的主题：
            </p>
            <ul class="list-disc">
                <li>编程教程和技巧</li>
                <li>技术趋势和新闻</li>
                <li>项目展示和案例分析</li>
                <li>个人成长和职业发展</li>
                <li>生活随笔和兴趣爱好</li>
            </ul>
            <p>
                感谢你的访问，希望你能在这里找到有价值的信息和灵感。欢迎随时留言交流！
            </p>
        </div>
    </div>
</MarkdownLayout>